/* Container para agrupar os card dos personagens */
.containerpersonagem {
    width: 100vw;
    height: 898px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    z-index: 10;
}


/*texto titulo da dobra Personagens*/
.txtpersonagem {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: end;
}

/*configurações gerais para agrupar os cards*/
.cardpersonagem {
    width: 100%;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.cardpersonagem h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    font-size: 22px;
}

/*configurações espeficias dos cards*/
.cardum,
.carddois,
.cardtres {
    margin-top: 40px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
    box-shadow: 0 0 10px #1515159e;
    background-color: #101010;
    color: #f1f1f1;
}

.imgP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgP img {
    padding: 0px 19px;
    width: auto;
    height: 249px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.700));
    display: flex;
    justify-self: center;
}

.cardum .imgP img:hover {
    filter: drop-shadow(0px 0px 20px hsla(350, 91%, 53%, 0.700));
}

.carddois .imgP img:hover {
    filter: drop-shadow(0px 0px 20px rgba(0, 168, 101, 0.700));
}

.cardtres .imgP img:hover {
    filter: drop-shadow(0px 0px 20px rgba(5, 131, 173, 0.700));
}



.cardum,
.carddois,
.cardtres {
    width: 300px;
    height: 500px;
}

.cardum:hover,
.carddois:hover,
.cardtres:hover {
    transform: translateY(-30px);
    transition: transform 1.0s;
}


.cardum .txtcardum,
.carddois .txtcarddois,
.cardtres .txtcardtres {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    justify-items: end;
    text-align: center;
    opacity: 0;
    visibility: hidden;
}

.cardum .txtcardum,
.carddois .txtcarddois,
.cardtres .txtcardtres {
    opacity: 1;
    visibility: visible;
}


/*botao para navegar para a pagina de detalhamento do personagem*/
.cardum .txtcardum button,
.carddois .txtcarddois button,
.cardtres .txtcardtres button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 25px;
    font-size: 15px;
    margin-right: 19px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: #f1f1f1;
}

.cardpersonagem button:hover {
    transform: translateY(-3px);
    transition: transform 0.3s;
    box-shadow: 0 0 3px #ffffff;
}

.cardpersonagem button:active {
    box-shadow: 0 0 7px #ffffff;
}

.cardum .txtcardum button img,
.carddois .txtcarddois button img,
.cardtres .txtcardtres button img {
    width: 18px;
    height: 18px;
}

.cardum .txtcardum p,
.carddois .txtcarddois p,
.cardtres .txtcardtres p {
    text-align: justify;
    font-size: 14px;
    padding: 19px;
}


/* Responsividade */
@media (max-width: 1070px) {

    .containerpersonagem {
        width: 100vw;
        height: 2200px;
        display: grid;
        grid-template-rows: 1fr 9fr;
    }


    .txtpersonagem h1 {
        font-size: 50px;
    }

    .cardpersonagem {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-content: center;
        justify-items: center;
        align-items: center;
    }

}

@media (max-width: 700px) {

    .txtpersonagem h1 {
        font-size: 45px;
    }

}

@media (max-width: 600px) {

    .txtpersonagem h1 {
        font-size: 35px;
    }

}

@media (max-width: 500px) {

    .txtpersonagem h1 {
        font-size: 35px;
        width: 300px;
        height: 100px;
        text-align: center;
    }

}
