@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*estilo espeficio da pagina de detalhamento do personagem Kurama*/

* {
    font-family: "Comic Neue", cursive;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    background-color: #0b0000;
}

.fechar .fecharButton{
background: #8a0f11;}

.fechar .fecharButton:active{
background: #640a0c;}    

.c1, .c2, .c3, .c4, .c5, .c6 {
background-color: rgba(11, 0, 0, 0.500);}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
background-color: rgba(11, 0, 0, 0.500);}

.h {
background-color: rgba(11, 0, 0, 0.500);}

.t {
background-color: rgba(11, 0, 0, 0.500);}

.g {
background-color: rgba(11, 0, 0, 0.500);}
